
body {
    background-color: lightsteelblue;
}
.container {
    width: calc(200px * 4 + 3em);
    margin: auto;
}

#outputArea {
    columns: 4;
    column-gap: 1em;
}

.items {
    margin-bottom: 1em;
}

